
{% trans_default_domain 'FOSUserBundle' %}

{#{%block formContent %}#}
    {%for input in form.children%}
        {%if '__token' in input.vars.id %}
            {{form_widget(input,{attr:{class:'col-md-12 col-lg-12 col-sm-12 col-xs-12 form-control'}})}}
        {%elseif input.isRendered == false%}
        <div class="control-group row">
            <div class="formLabel col-md-1 col-lg-1 col-sm-1 col-xs-12 align_right">
            {{form_label(input,null,{label_attr:{class:'control-label'} })}}
            </div>

          <div class="controls col-md-11 col-lg-11 col-sm-11 col-xs-12">
    {#                      {{input.vars.value}}#}
                {{form_errors(input)}}
              {{form_widget(input,{attr:{class:'col-md-12 col-lg-12 col-sm-12 col-xs-12  form-control' }})}}
          </div>
        </div>
        {%endif%}
    {%endfor%}
{#{%endblock%}#}

{#<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'change_password.submit'|trans }}" />
    </div>
</form>
#}