{% extends 'BESFrontBundle::layout.html.twig' %}


{%block content %}
    <section class="container">
    <div class="row">
    <article class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
        <h1 class="no-margin">{{entity.title}}</h1>
        <h2 class="no-margin">{{entity.periodes}} Périodes</h2>
        {#<p class=" summary col-lg-6 col-md-6 col-sm-6 col-xs-6 col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-xs-offset-3 ">#}
            {#{{entity.summary|raw}}#}
        {#</p>#}
        <div class="contentWrapper margin-top-40">
        {% if entity.picture is not null %}
            <div class="page-illu col-sm-4">
                <div class="box-content">
                    <img src="{{entity.picture}}" class="img-responsive" alt="" />
                </div>
            </div>
        {% endif %}
        
        
        <div class="page-content  {%if entity.picture is not null%}col-sm-6 {%else%}col-sm-12 {%endif%}">
            {{entity.content|raw}}
        </div>
        <div class="clearfix"></div>
        </div>
        
    </article>
    </div>
</section>
    
{%endblock%}
