{% extends 'BESFrontBundle::layout.html.twig' %}

{%block content %}
    <section class="container">
    <div class="row">
    <article class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1 class="no-margin">{{entity.title}}</h1>
        <h2 class="no-margin">{{entity.student}}</h2>
        <p class=" summary ">
            {{entity.tags}}
        </p>
        
        <div class="clearfix"></div>
        <div class="contentWrapper margin-top-40">
            <div class="page-illu col-sm-4">
                <div class="box-content">
                    {% if entity.link is defined and entity.link|length %}<a href="{{ entity.link }}">{% endif %}
                    <img src="{{asset(entity.picture.__toString)}}" alt="" />
                    {% if entity.link is defined and entity.link|length %}</a>{% endif %}
                    
                </div>
            </div>
            
            <div class="page-content col-sm-8 ">
                {{entity.content|raw}}
                {% if entity.link is defined and entity.link|length %}<a href="{{ entity.link }}">{{ entity.link }}</a>{% endif %}
            </div>
            
        </div>
    </article>
    </div>
</section>
    
{%endblock%}