{% block skscms_datetime_widget %}
     <div class="date form_datetime input-group" data-date="{{'now'|date('Y-m-d')}}T{{'now'|date('H:i:s')}}Z" data-date-format="yyyy-dd-mm  HH:ii p" data-link-field="{{form.vars.id}}">
                    <input class="form-control" size="16" type="text" value="{{value}}" readonly>
                    <span class="input-group-addon"><span class="fa fa-remove"></span></span>
                    <span class="input-group-addon"><span class="fa fa-th"></span></span>
    </div>
    <input type="hidden" id="{{form.vars.id}}" name="{{form.vars.full_name}}" value="{{value}}" /><br/>
{% endblock %}

{% block skscms_protecedinput_widget %}

<input type="text" class="col-md-11 col-lg-11 col-sm-11 col-xs-11 skcms_disablable form-control" style="" readonly {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
<a class="ckcms_form_locker col-md-1 col-lg-1 col-sm-1 col-xs-1 big" data-target="{{id}}" href="#"><i class="fa fa-lock"> </i></a>

{% endblock %}




{#{% block skimage_widget %}
    {% spaceless %}
       {%if is_granted('ROLE_SUPER_ADMIN')%} 
           
        {%endif%}
    {% endspaceless %}
{% endblock %}#}