
<article class="{{colOffset}} col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center student-tile" style="height: 165px;">
    <div {% if box.picture is defined %}style="background:url({{ asset(box.picture) }});"{% endif %} class="tile-wrapper">
        <a class="tileLink {{colorClass}}" href="{{box|skEntityPath('html',false)}}">
        <div class="title slide-title"><h1 class="tile-h1">{{box.title}}</h1>
            <hr class="tile-hr">
            <h2 class="tile-h2">{{box.student}}</h2></div>
            <p class="slide-text">{{box.tags}}</p>


        </a>
    </div>
</article>
