<article class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center tile" >
    <div class="tile-wrapper" style="background-image:url(images/content/city1.png);">
        <a href="{{box.link}}" class="tileLink {{classes[loop.index%3]}}">
            <h1 class="tile-h1">{{box.name}}</h1>
            <hr class="tile-hr" />
            <h2 class="tile-h2">{{box.targetEntity.subtitle}}</h2>
            <p>{{box.targetEntity.summary}}</p>
        </a>
    </div>
</article>